<!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="/" class="logo"><b>QUEST<span>IO</span></b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/profile">
                            <i class="fa fa-check-square"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">4 NEW LESSON GRADES</p>
                            </li>
                            <li>
                                <a href="/profile">
                                    <div class="task-info">
                                        <div class="desc">History Lesson Name</div>
                                        <div class="percent">92%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 92%">
                                            <span class="sr-only">92% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <div class="task-info">
                                        <div class="desc">Math Homework Name</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (danger)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <div class="task-info">
                                        <div class="desc">English Paper Name</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <div class="task-info">
                                        <div class="desc">Science Research Paper Name</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/profile">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">5 NEW MESSAGES</p>
                            </li>
                            <li>
                                <a href="/profile">
                                    <span class="photo"><img alt="avatar" src="/images/ui-zac.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <span class="photo"><img alt="avatar" src="/images/ui-divya.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <span class="photo"><img alt="avatar" src="/images/ui-danro.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Love your new Assignment Name.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <span class="photo"><img alt="avatar" src="/images/ui-sherman.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                    <!-- notification dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/profile">
                            <i class="fa fa-stack-exchange"></i>
                            <span class="badge bg-warning">12</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-yellow"></div>
                            <li>
                                <p class="yellow">12 NEW NOTIFACATIONS</p>
                            </li>
                            <li>
                                <a href="/profile">
                                    <span class="photo"><img alt="avatar" src="/images/ui-zac.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Posted A Photo
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <span class="photo"><img alt="avatar" src="/images/ui-divya.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                         Shared A Song
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <span class="photo"><img alt="avatar" src="/images/ui-danro.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Posted An Assignment
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <span class="photo"><img alt="avatar" src="/images/ui-sherman.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                         Commented On A Photo
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile">See all notifications</a>
                            </li>
                        </ul>
                    </li>
                    <!-- notification dropdown end -->
                    <!-- Page Views dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/profile">
                            <i class="fa fa-eye"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">5 NEW PAGE VIEWS</p>
                            </li>
                            <li>
                                <a href="/profile">
                                    <span class="photo"><img alt="avatar" src="/images/ui-zac.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>

                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <span class="photo"><img alt="avatar" src="/images/ui-divya.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>

                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <span class="photo"><img alt="avatar" src="/images/ui-danro.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>

                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <span class="photo"><img alt="avatar" src="/images/ui-sherman.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>

                                </a>
                            </li>
                            <li>
                                <a href="/profile">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Pageviews dropdown end -->
                    <!-- Calendar dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/profile">
                            <i class="fa fa-calendar"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">5 CALENDAR NOTIFACATIONS</p>
                            </li>
                            <li>
                                <a href="/profile">
                                    <span class="photo"><img alt="avatar" src="/images/Lessons_halfsize_02.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Test</span>
                                    <span class="time">Due: Today</span>
                                    </span>
                                    <span class="message">
                                        Science Exam 203 Name
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <span class="photo"><img alt="avatar" src="/images/Lessons_halfsize_01.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Assignment</span>
                                    <span class="time">Due: Tomorrow</span>
                                    </span>
                                    <span class="message">
                                     English Research paper Name
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <span class="photo"><img alt="avatar" src="/images/Lessons_halfsize_01.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Assignemnt</span>
                                    <span class="time">Due: Tomorrow</span>
                                    </span>
                                    <span class="message">
                                        Math Homework Name
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <span class="photo"><img alt="avatar" src="/images/Lessons_halfsize_03.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Quiz</span>
                                    <span class="time">Due: In 4 Days</span>
                                    </span>
                                    <span class="message">
                                        How Much Does A Snowflake...
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Calendar dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
        </header>
      <!--header end-->